@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .h-10percent { height: 10%; }
    .h-20percent { height: 20%; }
    .h-60percent { height: 60%; }
    .h-80percent { height: 80%; }
    .h-90percent { height: 90%; }
    .h-100percent { height: 100%; }
  }


/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}